/* ====== ENCABEZADO ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
   height: 100%;
  width: 100%;
  background-color: #731A04; 
  overflow-x: hidden;

}
header {
  background-color: #8c1d0d;;
  padding: 0px 20px;
  
}
.logo {
  display: flex;
  align-items: center;   
  flex-shrink: 0;
  margin-left: 40px;  
}
.logo img {
 width: 90px;
}

/* ====== MENÚ DE NAVEGACIÓN ====== */
nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav a {
  color: #8b2510;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
.nav-icons{
  display:flex;
  align-items:center;
  gap:12px;
  margin-left: auto;
}

/* Hover */
.nav-icons a:hover{
  background:#983737;
  color:#fff;
}

/* Click */
.nav-icons a:active{
  background:#931212;
  color:#8c2929;
}


.nav-icons a:first-child{
   width: auto;
  padding: 0 18px;
  border-radius: 20px;
}
.nav-icons a{
  width: 45px;
  height: 45px;
  background: white;
  color: rgb(188, 30, 30);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
}
.nav-icons a:hover{
    background:#000;
    color:#fff;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-icons a:active{
    background:#000;
    color:#fff;
}


.contenedor-busqueda {
  position: relative;
  flex: 1px;
  display: flex;
  justify-content: center;
}
.search-box {
  width: 100%;
  max-width: 650px;
  height: 45px;
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 0 45px 0 15px;
  font-size: 16px;
}
.contenedor-busqueda i {
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translateY(-50%);
 color: rgb(188, 30, 30);
}
/*codigo*/

.registro {
  text-align: center;
  padding: 50px 20px;
}

.registro h1 {
  color: #f4efef; 
  font-size: 38px;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
}


.formulario {
  background: #480000; 
  width: 80%;         
  max-width: 950px;    
  margin: 0 auto;      
  padding: 45px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}

.formulario label {
  display: block;
  margin-top: 20px;
  color: #ffffff;     
  font-weight: bold;
  font-size: 18px;
}

/* Inputs y Selects */
.formulario input, 
.formulario select {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #ffffff; 
  color: #333;         
  font-size: 16px;
  outline: none;
}

.formulario input:focus {
  border: 2px solid #ffa500;
}

.formulario input::placeholder {
  color: #aaa;
}

.formulario button {
  width: 100%;
  padding: 16px;
  margin-top: 35px;
  background: #ffa500;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.formulario button:hover {
  background: #e69500;
  transform: translateY(-2px);
}


.formulario p {
  text-align: center;
  margin-top: 25px;
  color: #ffffff; 
  font-size: 16px;
}

.formulario p a {
  color: #ffa500; 
  font-weight: bold;
  text-decoration: none;
}

.formulario p a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .formulario {
    width: 95%;
    padding: 25px;
  }
}