
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Georgia', serif;
  background-color: #fdf2d9; /* Fondo Beige/Crema */
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #8b2510;
  padding: 5px 40px;
  border-radius: 10px 10px 0 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-img {
  height: 120px;
  width: auto;
}

.logo-text {
  font-size: 42px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-container {
  position: relative;
}

.search-container input {
  width: 220px;
  padding: 10px 35px 10px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
}

.search-container i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #8b2510;
  cursor: pointer;
}

nav a {
  background-color: white;
  color: #8b2510;
  border-radius: 25px;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #000;
  color: white;
}

.registro {
  text-align: center;
  padding: 50px 20px;
}

.registro h1 {
  color: #333; 
  font-size: 38px;
  border-bottom: 3px solid #8b2510;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-transform: uppercase;
}


.formulario {
  background: #800000; 
  width: 80%;         
  max-width: 950px;    
  margin: 0 auto;      
  padding: 45px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}

.formulario label {
  display: block;
  margin-top: 20px;
  color: #ffffff;     
  font-weight: bold;
  font-size: 18px;
}

/* Inputs y Selects */
.formulario input, 
.formulario select {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #ffffff; 
  color: #333;         
  font-size: 16px;
  outline: none;
}

.formulario input:focus {
  border: 2px solid #ffa500;
}

.formulario input::placeholder {
  color: #aaa;
}

.formulario button {
  width: 100%;
  padding: 16px;
  margin-top: 35px;
  background: #ffa500;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.formulario button:hover {
  background: #e69500;
  transform: translateY(-2px);
}


.formulario p {
  text-align: center;
  margin-top: 25px;
  color: #ffffff; 
  font-size: 16px;
}

.formulario p a {
  color: #ffa500; 
  font-weight: bold;
  text-decoration: none;
}

.formulario p a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .formulario {
    width: 95%;
    padding: 25px;
  }
}